In [ ]:
# Prerequisities
!pip install --upgrade --user sklearn
!pip install --upgrade --user pandas
!pip install --upgrade --user numpy
!pip install --upgrade --user spacy

!python -m spacy download en_core_web_md   # Trained word vector

In [119]:
import pandas as pd
import numpy as np
from spacy.vectors import Vectors
from sklearn.decomposition import TruncatedSVD
from sklearn.metrics.pairwise import cosine_similarity

web_ds = spacy.load('en_core_web_md')
corpus = pd.read_csv('t_bbe.csv')

In [120]:
corpus

             id   b   c   v                                                  t
0       1001001   1   1   1    At the first God made the heaven and the earth.
1       1001002   1   1   2  And the earth was waste and without form; and ...
2       1001003   1   1   3  And God said, Let there be light: and there wa...
3       1001004   1   1   4  And God, looking on the light, saw that it was...
4       1001005   1   1   5  Naming the light, Day, and the dark, Night. An...
...         ...  ..  ..  ..                                                ...
31098  66022017  66  22  17  And the Spirit and the bride say, Come. And le...
31099  66022018  66  22  18  For I say to every man to whose ears have come...
31100  66022019  66  22  19  And if any man takes away from the words of th...
31101  66022020  66  22  20  He who gives witness to these things says, Tru...
31102  66022021  66  22  21  The grace of the Lord Jesus be with the saints...

[31103 rows x 5 columns]

In [121]:
corpus.shape

(31103, 5)

In [122]:
sentence_vector = []
for x in corpus['t'].values:
    sentence_vector.append(web_ds(x).vector)
sentence_vector = np.stack(sentence_vector, axis=0)
sentence_vector.shape
print('Done')

Done

In [123]:
svd = TruncatedSVD(n_components=10)
svd_sentences = svd.fit_transform(sentence_vector)
svd_sentences

array([[ 3.3944538 , -0.5095218 , -0.18593895, ..., -0.34198827,
         0.13227865, -0.252717  ],
       [ 3.3399315 , -0.5886822 , -0.33994052, ...,  0.01141333,
         0.0452466 , -0.22600707],
       [ 3.3220842 ,  0.17710806,  0.30751628, ..., -0.28480628,
         0.143422  , -0.27126887],
       ...,
       [ 3.4870605 , -0.16540068, -0.20667109, ...,  0.01269931,
        -0.06816281,  0.02178019],
       [ 3.3578353 ,  0.6200461 ,  0.54105127, ..., -0.17045516,
         0.06506193, -0.27891764],
       [ 3.3242064 , -0.12360739, -0.21462248, ..., -0.24642944,
         0.32052413, -0.337034  ]], dtype=float32)

In [124]:
sim = cosine_similarity(svd_sentences, svd_sentences)
pd.DataFrame(sim)[300].sort_values(ascending=False)[:5]

300      1.000000
13699    0.999027
8209     0.997915
8201     0.997443
18799    0.997313
Name: 300, dtype: float32

In [ ]:
print(corpus['t'][300], end="\n\n")
print(corpus['t'][1455])

In [ ]:
my_sentence_vec = np.stack([web_ds("").vector])
sentence_vector = np.append(sentence_vector, my_sentence_vec, axis=0)
sentence_vector.shape

In [ ]:
svd_sentences = svd.fit_transform(sentence_vector)
cos_sim = cosine_similarity(svd_sentences, svd_sentences)
pd.DataFrame(cos_sim)[2001].sort_values(ascending=False)[:5]

In [ ]:
print(corpus['t'][1938])